<a href="https://colab.research.google.com/github/HamoyeHQ/16-hotel-reviews/blob/master/Hotel_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Mount your Google drive folder on Colab
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/gdrive/My Drive/Hotel_Reviews.csv")

In [ ]:
df.head()

                                       Hotel_Address  ...       lng
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968

[5 rows x 17 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [ ]:
df.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng'],
      dtype='object')

In [ ]:
df['lat'].nunique()

1472

In [ ]:
for i in range(351449,352107):
  df['lat'].iloc[i] = 48.2094
for i in range(465289,465852):
  df['lat'].iloc[i] = 16.5127
for i in range(500179,500568):
  df['lat'].iloc[i] = 48.2100
for i in range(177657,177947):
  df['lat'].iloc[i] = 48.8753
for i in range(365418,365663):
  df['lat'].iloc[i] = 48.1888
for i in range(499956,500179):
  df['lat'].iloc[i] = 48.2168
for i in range(440791,440985):
  df['lat'].iloc[i] = 48.2196
for i in range(449450,449597):
  df['lat'].iloc[i] = 48.2460
for i in range(282265,282411):
  df['lat'].iloc[i] = 41.3916
for i in range(327680,327773):
  df['lat'].iloc[i] = 48.2209
for i in range(338919,338980):
  df['lat'].iloc[i] = 19.4147
for i in range(352107,352164):
  df['lat'].iloc[i] = 48.2095
for i in range(116738,116793):
  df['lat'].iloc[i] = 48.8889
for i in range(395735,395784):
  df['lat'].iloc[i] = 48.1868
for i in range(99488,99525):
  df['lat'].iloc[i] = 48.8400
for i in range(401983,402016):
  df['lat'].iloc[i] = 41.3927
for i in range(449422,449450):
  df['lat'].iloc[i] = 41.3833

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
for i in range(351449,352107):
  df['lng'].iloc[i] = 16.3534
for i in range(465289,465852):
  df['lng'].iloc[i] = 80.6260
for i in range(500179,500568):
  df['lng'].iloc[i] = 16.3634
for i in range(177657,177947):
  df['lng'].iloc[i] = 2.3234
for i in range(365418,365663):
  df['lng'].iloc[i] = 16.3838
for i in range(499956,500179):
  df['lng'].iloc[i] = 16.3599
for i in range(440791,440985):
  df['lng'].iloc[i] = 16.2855
for i in range(449450,449597):
  df['lng'].iloc[i] = 16.3412
for i in range(282265,282411):
  df['lng'].iloc[i] = 2.1779
for i in range(327680,327773):
  df['lng'].iloc[i] = 16.3666
for i in range(338919,338980):
  df['lng'].iloc[i] = 99.1846
for i in range(352107,352164):
  df['lng'].iloc[i] = 16.3515
for i in range(116738,116793):
  df['lng'].iloc[i] = 2.3331
for i in range(395735,395784):
  df['lng'].iloc[i] = 16.4207
for i in range(99488,99525):
  df['lng'].iloc[i] = 2.3236
for i in range(401983,402016):
  df['lng'].iloc[i] = 2.1674
for i in range(449422,449450):
  df['lng'].iloc[i] = 2.1628

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         515738 non-null  float64
 16  lng                                         515738 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [ ]:
df.corr()

                                            Additional_Number_of_Scoring  ...       lng
Additional_Number_of_Scoring                                    1.000000  ... -0.266189
Average_Score                                                  -0.152846  ...  0.091630
Review_Total_Negative_Word_Counts                               0.029195  ... -0.019908
Total_Number_of_Reviews                                         0.824884  ... -0.014464
Review_Total_Positive_Word_Counts                              -0.053087  ...  0.033338
Total_Number_of_Reviews_Reviewer_Has_Given                     -0.071969  ...  0.100153
Reviewer_Score                                                 -0.061554  ...  0.030302
lat                                                             0.326878  ... -0.406167
lng                                                            -0.266189  ...  1.000000

[9 rows x 9 columns]

In [ ]:
new_df = df.copy()

In [ ]:
#new_df.head(5)

In [ ]:
new_df.set_index('Hotel_Name', inplace=True)

In [ ]:
#new_df.head()

In [ ]:
new_df.drop(columns='Hotel_Address', inplace=True,axis=1)

In [ ]:
#new_df.head()

In [ ]:
new_df['Reviewer_Nationality'].nunique()

227

In [ ]:
new_df.drop(columns='Positive_Review', inplace=True,axis=1)
new_df.drop(columns='Negative_Review', inplace=True,axis=1)

In [ ]:
new_df.tail(10)

                       Additional_Number_of_Scoring  ...        lng
Hotel_Name                                           ...
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677
Atlantis Hotel Vienna                           168  ...  16.335677

[10 rows x 13 columns]

In [ ]:
def add_month(month):
  if month[1] == '/':
    return month[0]
  else:
    return int(month[0:1])

def add_year(year):
  return int(year[-4:])

In [ ]:
new_df['Review_Month'] = new_df['Review_Date'].apply(add_month)
new_df['Review_Year'] = new_df['Review_Date'].apply(add_year)

In [ ]:
new_df.drop('Review_Date', axis=1,inplace=True)
new_df.head(10)

             Additional_Number_of_Scoring  ...  Review_Year
Hotel_Name                                 ...
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017
Hotel Arena                           194  ...         2017

[10 rows x 14 columns]

In [ ]:
list_id = new_df['Reviewer_Nationality'].unique().tolist()

In [ ]:
def add_Natid(nation):
  for i in range(len(list_id)):
    if nation == list_id[i]:
      return i

In [ ]:
new_df['Reviewer_Nationality_id'] = new_df['Reviewer_Nationality'].apply(add_Natid)

In [ ]:
new_df.head()

             Additional_Number_of_Scoring  ...  Reviewer_Nationality_id
Hotel_Name                                 ...
Hotel Arena                           194  ...                        0
Hotel Arena                           194  ...                        1
Hotel Arena                           194  ...                        2
Hotel Arena                           194  ...                        3
Hotel Arena                           194  ...                        4

[5 rows x 15 columns]

In [ ]:
new_df.drop('Reviewer_Nationality', axis=1,inplace=True)

In [ ]:
new_df.head()

             Additional_Number_of_Scoring  ...  Reviewer_Nationality_id
Hotel_Name                                 ...
Hotel Arena                           194  ...                        0
Hotel Arena                           194  ...                        1
Hotel Arena                           194  ...                        2
Hotel Arena                           194  ...                        3
Hotel Arena                           194  ...                        4

[5 rows x 14 columns]

In [ ]:
new_df['Tags'].unique()

array(["[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 6 nights ']",
       "[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 4 nights ']",
       "[' Leisure trip ', ' Family with young children ', ' Duplex Double Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']",
       ...,
       "[' Leisure trip ', ' Solo traveler ', ' Superior Double Room with Garden View ', ' Stayed 1 night ', ' Submitted from a mobile device ']",
       "[' Business trip ', ' Solo traveler ', ' Superior Double Room with Garden View ', ' Stayed 2 nights ']",
       "[' Leisure trip ', ' Family with young children ', ' Standard Double or Twin Room ', ' Stayed 10 nights ']"],
      dtype=object)

In [ ]:
new_df['Tags'].nunique()

55242

In [ ]:
new_df.reset_index(inplace=True)

In [ ]:
new_df.head()

    Hotel_Name  ...  Reviewer_Nationality_id
0  Hotel Arena  ...                        0
1  Hotel Arena  ...                        1
2  Hotel Arena  ...                        2
3  Hotel Arena  ...                        3
4  Hotel Arena  ...                        4

[5 rows x 15 columns]

In [ ]:
tag_list = new_df['Tags'].unique().tolist()

In [ ]:
def add_tagid(name):
  for i in range(len(tag_list)):
    if name == tag_list[i]:
      return i
    else:
      continue

In [ ]:
new_df['tag_ID'] = new_df['Tags'].apply(add_tagid)

In [ ]:
list_nameid = new_df['Hotel_Name'].unique().tolist()

In [ ]:
def add_nameid(name):
  for i in range(len(list_nameid)):
    if name == list_nameid[i]:
      return i
    else:
      continue

In [ ]:
new_df['Hotel_Name_ID'] = new_df['Hotel_Name'].apply(add_nameid)

In [ ]:
new_df.drop('Tags',axis=1,inplace=True)

In [ ]:
new_df.head()

    Hotel_Name  Additional_Number_of_Scoring  ...  days_since_review_ID  tag_ID
0  Hotel Arena                           194  ...                   0.0       0
1  Hotel Arena                           194  ...                   0.0       1
2  Hotel Arena                           194  ...                   3.0       2
3  Hotel Arena                           194  ...                   3.0       3
4  Hotel Arena                           194  ...                  10.0       4

[5 rows x 16 columns]

In [ ]:
#new_df.drop('Hotel_Name', axis=1, inplace=True)

In [ ]:
new_df.head()

    Hotel_Name  ...  Hotel_Name_ID
0  Hotel Arena  ...              0
1  Hotel Arena  ...              0
2  Hotel Arena  ...              0
3  Hotel Arena  ...              0
4  Hotel Arena  ...              0

[5 rows x 16 columns]

In [ ]:
def dsr(day):
  if day[0] == ' ' and day[-5:] == ' days':
    return float(day[1:-5])
  elif day[0] == ' ' and day[-4:] == ' day':
    return float(day[1:-4])
  elif day[-4:] == ' day':
    return float(day[:-4])
  elif day[2:] == ' days':
    return float(day[:2])
  elif day[1:] == ' days':
    return float(day[:2])
  elif day[3:] == ' days':
    return float(day[:3])

In [ ]:
new_df['days_since_review_ID'] = new_df['days_since_review'].apply(dsr)

In [ ]:
new_df.head()

    Hotel_Name  ...  days_since_review_ID
0  Hotel Arena  ...                   0.0
1  Hotel Arena  ...                   0.0
2  Hotel Arena  ...                   3.0
3  Hotel Arena  ...                   3.0
4  Hotel Arena  ...                  10.0

[5 rows x 17 columns]

In [ ]:
new_df['days_since_review'].unique()

array(['0 days', '3 days', '10 days', '17 days', '25 days', '26 days',
       '27 days', '28 days', '30 days', '31 days', '34 days', '35 days',
       '44 days', '45 days', '52 days', '54 days', '66 days', '68 days',
       '70 days', '73 days', '74 days', '79 days', '84 days', '86 days',
       '93 days', '98 days', '99 days', '105 day', '106 day', '107 day',
       '109 day', '111 day', '115 day', '120 day', '127 day', '134 day',
       '136 day', '137 day', '138 day', '140 day', '150 day', '164 day',
       '167 day', '170 day', '175 day', '178 day', '186 day', '188 day',
       '190 day', '196 day', '207 day', '217 day', '218 day', '225 day',
       '226 day', '227 day', '231 day', '232 day', '233 day', '234 day',
       '235 day', '236 day', '239 day', '261 day', '269 day', '270 day',
       '274 day', '276 day', '277 day', '281 day', '282 day', '283 day',
       '294 day', '295 day', '296 day', '301 day', '303 day', '310 day',
       '318 day', '319 day', '325 day', '328 day', '337 day', '355 day',
       '369 day', '372 day', '373 day', '379 day', '382 day', '385 day',
       '390 day', '394 day', '397 day', '400 day', '402 day', '412 day',
       '413 day', '424 day', '428 day', '432 day', '438 day', '443 day',
       '453 day', '457 day', '459 day', '464 day', '466 day', '467 day',
       '468 day', '471 day', '473 day', '478 day', '483 day', '485 day',
       '492 day', '498 day', '501 day', '504 day', '505 day', '506 day',
       '509 day', '519 day', '520 day', '521 day', '530 day', '534 day',
       '535 day', '540 day', '541 day', '542 day', '543 day', '546 day',
       '547 day', '548 day', '549 day', '555 day', '558 day', '562 day',
       '566 day', '569 day', '576 day', '578 day', '579 day', '581 day',
       '586 day', '590 day', '597 day', '599 day', '604 day', '609 day',
       '613 day', '618 day', '625 day', '627 day', '628 day', '631 day',
       '632 day', '636 day', '639 day', '641 day', '643 day', '644 day',
       '647 day', '648 day', '650 day', '651 day', '652 day', '654 day',
       '655 day', '656 day', '659 day', '669 day', '673 day', '674 day',
       '675 day', '677 day', '678 day', '683 day', '685 day', '691 day',
       '692 day', '696 day', '698 day', '700 day', '702 day', '704 day',
       '707 day', '708 day', '709 day', '714 day', '716 day', '720 day',
       '723 day', '728 day', '730 day', '12 days', '15 days', '22 days',
       '24 days', '39 days', '40 days', '47 days', '51 days', '59 days',
       '80 days', '91 days', '92 days', '94 days', '97 days', '101 day',
       '114 day', '121 day', '143 day', '146 day', '149 day', '152 day',
       '169 day', '171 day', '176 day', '179 day', '181 day', '182 day',
       '185 day', '191 day', '193 day', '194 day', '211 day', '212 day',
       '219 day', '240 day', '248 day', '249 day', '288 day', '289 day',
       '304 day', '340 day', '341 day', '342 day', '354 day', '359 day',
       '360 day', '361 day', '366 day', '370 day', '376 day', '380 day',
       '392 day', '403 day', '425 day', '426 day', '430 day', '431 day',
       '439 day', '441 day', '447 day', '460 day', '465 day', '476 day',
       '480 day', '490 day', '494 day', '495 day', '508 day', '513 day',
       '518 day', '523 day', '525 day', '528 day', '559 day', '565 day',
       '570 day', '573 day', '582 day', '598 day', '602 day', '616 day',
       '621 day', '623 day', '630 day', '645 day', '646 day', '653 day',
       '660 day', '668 day', '671 day', '672 day', '684 day', '687 day',
       '688 day', '694 day', '697 day', '699 day', '711 day', '712 day',
       '717 day', '718 day', '725 day', '1 days', '14 days', '16 days',
       '37 days', '41 days', '53 days', '57 days', '64 days', '69 days',
       '82 days', '90 days', '102 day', '116 day', '125 day', '129 day',
       '130 day', '145 day', '147 day', '148 day', '154 day', '156 day',
       '165 day', '172 day', '174 day', '180 day', '192 day', '197 day',
       '199 day', '200 day', '202 day', '206 day', '216 day', '220 day',
       '224 day', '228 day', '230 day', '238 day', '243 day', '244 day',
       '253 day', '260 day', '262 day', '263 day', '264 day', '268 day',
       '271 day', '273 day', '284 day', '285 day', '286 day', '291 day',
       '292 day', '299 day', '308 day', '309 day', '312 day', '333 day',
       '343 day', '345 day', '350 day', '352 day', '364 day', '365 day',
       '401 day', '408 day', '415 day', '418 day', '419 day', '423 day',
       '440 day', '442 day', '444 day', '449 day', '454 day', '461 day',
       '463 day', '469 day', '472 day', '481 day', '482 day', '487 day',
       '489 day', '493 day', '497 day', '499 day', '500 day', '503 day',
       '512 day', '514 day', '516 day', '517 day', '522 day', '526 day',
       '527 day', '529 day', '532 day', '537 day', '538 day', '539 day',
       '545 day', '550 day', '557 day', '560 day', '563 day', '571 day',
       '583 day', '585 day', '587 day', '588 day', '594 day', '596 day',
       '611 day', '614 day', '615 day', '635 day', '649 day', '665 day',
       '2 days', '8 days', '18 days', '46 days', '72 days', '85 days',
       '100 day', '144 day', '163 day', '166 day', '168 day', '173 day',
       '189 day', '198 day', '203 day', '205 day', '246 day', '247 day',
       '254 day', '266 day', '272 day', '279 day', '302 day', '305 day',
       '311 day', '313 day', '321 day', '334 day', '336 day', '344 day',
       '346 day', '347 day', '348 day', '349 day', '357 day', '367 day',
       '387 day', '389 day', '391 day', '396 day', '407 day', '409 day',
       '422 day', '429 day', '433 day', '434 day', '435 day', '446 day',
       '448 day', '451 day', '486 day', '488 day', '496 day', '502 day',
       '507 day', '510 day', '511 day', '515 day', '524 day', '531 day',
       '533 day', '536 day', '544 day', '551 day', '564 day', '567 day',
       '574 day', '595 day', '600 day', '605 day', '610 day', '661 day',
       '662 day', '664 day', '667 day', '670 day', '676 day', '681 day',
       '686 day', '29 days', '33 days', '50 days', '78 days', '81 days',
       '104 day', '151 day', '155 day', '157 day', '160 day', '177 day',
       '215 day', '221 day', '222 day', '223 day', '241 day', '242 day',
       '245 day', '252 day', '275 day', '278 day', '293 day', '297 day',
       '298 day', '306 day', '307 day', '314 day', '322 day', '327 day',
       '331 day', '338 day', '363 day', '371 day', '374 day', '377 day',
       '386 day', '393 day', '398 day', '414 day', '417 day', '420 day',
       '436 day', '445 day', '456 day', '458 day', '470 day', '474 day',
       '484 day', '553 day', '554 day', '568 day', '577 day', '580 day',
       '584 day', '591 day', '593 day', '603 day', '606 day', '612 day',
       '622 day', '634 day', '637 day', '640 day', '642 day', '680 day',
       '693 day', '695 day', '713 day', '719 day', '721 day', '727 day',
       '23 days', '60 days', '63 days', '65 days', '71 days', '87 days',
       '88 days', '95 days', '118 day', '124 day', '128 day', '133 day',
       '135 day', '139 day', '142 day', '161 day', '184 day', '204 day',
       '208 day', '209 day', '213 day', '214 day', '237 day', '255 day',
       '256 day', '258 day', '265 day', '267 day', '290 day', '317 day',
       '324 day', '335 day', '351 day', '356 day', '362 day', '381 day',
       '383 day', '388 day', '395 day', '406 day', '410 day', '427 day',
       '450 day', '452 day', '479 day', '491 day', '552 day', '561 day',
       '572 day', '589 day', '592 day', '617 day', '619 day', '620 day',
       '624 day', '658 day', '682 day', '701 day', '705 day', '20 days',
       '32 days', '36 days', '42 days', '43 days', '48 days', '49 days',
       '55 days', '56 days', '58 days', '67 days', '76 days', '108 day',
       '110 day', '112 day', '113 day', '117 day', '119 day', '123 day',
       '126 day', '131 day', '132 day', '141 day', '162 day', '183 day',
       '187 day', '201 day', '229 day', '250 day', '251 day', '257 day',
       '280 day', '315 day', '326 day', '329 day', '332 day', '339 day',
       '353 day', '358 day', '375 day', '378 day', '399 day', '404 day',
       '405 day', '437 day', '462 day', '556 day', '601 day', '626 day',
       '638 day', '657 day', '679 day', '690 day', '706 day', '710 day',
       '722 day', '724 day', '726 day', '4 days', '21 days', '38 days',
       '62 days', '103 day', '153 day', '159 day', '195 day', '259 day',
       '287 day', '320 day', '330 day', '368 day', '384 day', '455 day',
       '475 day', '575 day', '607 day', '666 day', '715 day', '729 day',
       '411 day', '421 day', '608 day', '629 day', '663 day', '689 day',
       '703 day', '477 day', '633 day', '5 days', '9 days', '13 days',
       '75 days', '77 days', '89 days', '122 day', '158 day', '300 day',
       '416 day', '61 days', '210 day', '316 day', '323 day', '83 days',
       '6 days', '11 days', '7 days', '96 days', '19 days'], dtype=object)

In [ ]:
new_df['days_since_review_ID'].unique()

array([  0.,   3.,  10.,  17.,  25.,  26.,  27.,  28.,  30.,  31.,  34.,
        35.,  44.,  45.,  52.,  54.,  66.,  68.,  70.,  73.,  74.,  79.,
        84.,  86.,  93.,  98.,  99., 105., 106., 107., 109., 111., 115.,
       120., 127., 134., 136., 137., 138., 140., 150., 164., 167., 170.,
       175., 178., 186., 188., 190., 196., 207., 217., 218., 225., 226.,
       227., 231., 232., 233., 234., 235., 236., 239., 261., 269., 270.,
       274., 276., 277., 281., 282., 283., 294., 295., 296., 301., 303.,
       310., 318., 319., 325., 328., 337., 355., 369., 372., 373., 379.,
       382., 385., 390., 394., 397., 400., 402., 412., 413., 424., 428.,
       432., 438., 443., 453., 457., 459., 464., 466., 467., 468., 471.,
       473., 478., 483., 485., 492., 498., 501., 504., 505., 506., 509.,
       519., 520., 521., 530., 534., 535., 540., 541., 542., 543., 546.,
       547., 548., 549., 555., 558., 562., 566., 569., 576., 578., 579.,
       581., 586., 590., 597., 599., 604., 609., 613., 618., 625., 627.,
       628., 631., 632., 636., 639., 641., 643., 644., 647., 648., 650.,
       651., 652., 654., 655., 656., 659., 669., 673., 674., 675., 677.,
       678., 683., 685., 691., 692., 696., 698., 700., 702., 704., 707.,
       708., 709., 714., 716., 720., 723., 728., 730.,  12.,  15.,  22.,
        24.,  39.,  40.,  47.,  51.,  59.,  80.,  91.,  92.,  94.,  97.,
       101., 114., 121., 143., 146., 149., 152., 169., 171., 176., 179.,
       181., 182., 185., 191., 193., 194., 211., 212., 219., 240., 248.,
       249., 288., 289., 304., 340., 341., 342., 354., 359., 360., 361.,
       366., 370., 376., 380., 392., 403., 425., 426., 430., 431., 439.,
       441., 447., 460., 465., 476., 480., 490., 494., 495., 508., 513.,
       518., 523., 525., 528., 559., 565., 570., 573., 582., 598., 602.,
       616., 621., 623., 630., 645., 646., 653., 660., 668., 671., 672.,
       684., 687., 688., 694., 697., 699., 711., 712., 717., 718., 725.,
         1.,  14.,  16.,  37.,  41.,  53.,  57.,  64.,  69.,  82.,  90.,
       102., 116., 125., 129., 130., 145., 147., 148., 154., 156., 165.,
       172., 174., 180., 192., 197., 199., 200., 202., 206., 216., 220.,
       224., 228., 230., 238., 243., 244., 253., 260., 262., 263., 264.,
       268., 271., 273., 284., 285., 286., 291., 292., 299., 308., 309.,
       312., 333., 343., 345., 350., 352., 364., 365., 401., 408., 415.,
       418., 419., 423., 440., 442., 444., 449., 454., 461., 463., 469.,
       472., 481., 482., 487., 489., 493., 497., 499., 500., 503., 512.,
       514., 516., 517., 522., 526., 527., 529., 532., 537., 538., 539.,
       545., 550., 557., 560., 563., 571., 583., 585., 587., 588., 594.,
       596., 611., 614., 615., 635., 649., 665.,   2.,   8.,  18.,  46.,
        72.,  85., 100., 144., 163., 166., 168., 173., 189., 198., 203.,
       205., 246., 247., 254., 266., 272., 279., 302., 305., 311., 313.,
       321., 334., 336., 344., 346., 347., 348., 349., 357., 367., 387.,
       389., 391., 396., 407., 409., 422., 429., 433., 434., 435., 446.,
       448., 451., 486., 488., 496., 502., 507., 510., 511., 515., 524.,
       531., 533., 536., 544., 551., 564., 567., 574., 595., 600., 605.,
       610., 661., 662., 664., 667., 670., 676., 681., 686.,  29.,  33.,
        50.,  78.,  81., 104., 151., 155., 157., 160., 177., 215., 221.,
       222., 223., 241., 242., 245., 252., 275., 278., 293., 297., 298.,
       306., 307., 314., 322., 327., 331., 338., 363., 371., 374., 377.,
       386., 393., 398., 414., 417., 420., 436., 445., 456., 458., 470.,
       474., 484., 553., 554., 568., 577., 580., 584., 591., 593., 603.,
       606., 612., 622., 634., 637., 640., 642., 680., 693., 695., 713.,
       719., 721., 727.,  23.,  60.,  63.,  65.,  71.,  87.,  88.,  95.,
       118., 124., 128., 133., 135., 139., 142., 161., 184., 204., 208.,
       209., 213., 214., 237., 255., 256., 258., 265., 267., 290., 317.,
       324., 335., 351., 356., 362., 381., 383., 388., 395., 406., 410.,
       427., 450., 452., 479., 491., 552., 561., 572., 589., 592., 617.,
       619., 620., 624., 658., 682., 701., 705.,  20.,  32.,  36.,  42.,
        43.,  48.,  49.,  55.,  56.,  58.,  67.,  76., 108., 110., 112.,
       113., 117., 119., 123., 126., 131., 132., 141., 162., 183., 187.,
       201., 229., 250., 251., 257., 280., 315., 326., 329., 332., 339.,
       353., 358., 375., 378., 399., 404., 405., 437., 462., 556., 601.,
       626., 638., 657., 679., 690., 706., 710., 722., 724., 726.,   4.,
        21.,  38.,  62., 103., 153., 159., 195., 259., 287., 320., 330.,
       368., 384., 455., 475., 575., 607., 666., 715., 729., 411., 421.,
       608., 629., 663., 689., 703., 477., 633.,   5.,   9.,  13.,  75.,
        77.,  89., 122., 158., 300., 416.,  61., 210., 316., 323.,  83.,
         6.,  11.,   7.,  96.,  19.])

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Name                                  515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Average_Score                               515738 non-null  float64
 3   Review_Total_Negative_Word_Counts           515738 non-null  int64
 4   Total_Number_of_Reviews                     515738 non-null  int64
 5   Review_Total_Positive_Word_Counts           515738 non-null  int64
 6   Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 7   Reviewer_Score                              515738 non-null  float64
 8   Tags                                        515738 non-null  object
 9   days_since_review                           515738 non-null  object
 10  lat                                         515738 non-null  float64
 11  lng                                         515738 non-null  float64
 12  Review_Month                                515738 non-null  object
 13  Review_Year                                 515738 non-null  int64
 14  Reviewer_Nationality_id                     515738 non-null  int64
 15  Hotel_Name_ID                               515738 non-null  int64
 16  days_since_review_ID                        515738 non-null  float64
dtypes: float64(5), int64(8), object(4)
memory usage: 66.9+ MB

In [ ]:
def to_num(num):
  return float(num)

In [ ]:
new_df['Review_Month'] = new_df['Review_Month'].apply(to_num)

In [ ]:
new_df.head()

    Hotel_Name  Additional_Number_of_Scoring  ...  days_since_review_ID  tag_ID
0  Hotel Arena                           194  ...                   0.0       0
1  Hotel Arena                           194  ...                   0.0       1
2  Hotel Arena                           194  ...                   3.0       2
3  Hotel Arena                           194  ...                   3.0       3
4  Hotel Arena                           194  ...                  10.0       4

[5 rows x 16 columns]

In [ ]:
new_df.drop('days_since_review', axis=1, inplace=True)

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 16 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Name                                  515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Average_Score                               515738 non-null  float64
 3   Review_Total_Negative_Word_Counts           515738 non-null  int64
 4   Total_Number_of_Reviews                     515738 non-null  int64
 5   Review_Total_Positive_Word_Counts           515738 non-null  int64
 6   Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 7   Reviewer_Score                              515738 non-null  float64
 8   Tags                                        515738 non-null  object
 9   lat                                         515738 non-null  float64
 10  lng                                         515738 non-null  float64
 11  Review_Month                                515738 non-null  float64
 12  Review_Year                                 515738 non-null  int64
 13  Reviewer_Nationality_id                     515738 non-null  int64
 14  Hotel_Name_ID                               515738 non-null  int64
 15  days_since_review_ID                        515738 non-null  float64
dtypes: float64(6), int64(8), object(2)
memory usage: 63.0+ MB

In [ ]:
new_df['Total_Number_of_Reviews'].nunique()

1142

In [ ]:
new_df['Total_Number_of_Reviews'].unique()

array([1403, 1831, 2619, ...,  717, 5945, 2823])

In [ ]:
new_df['Average_Score'].unique()

array([7.7, 8.5, 9.2, 8.4, 7.2, 8. , 8.9, 8.2, 7.4, 9.5, 8.1, 8.7, 8.6,
       8.3, 9.6, 9.4, 9.3, 9.1, 7.8, 9. , 7.1, 8.8, 7.9, 7.5, 7.6, 9.8,
       6.8, 7. , 7.3, 6.6, 6.7, 6.9, 6.4, 5.2])

In [ ]:
ratings = pd.DataFrame(df.groupby('Hotel_Name')['Average_Score'].mean())

In [ ]:
ratings['lat'] = df.groupby('Hotel_Name')['lat'].mean()
ratings['lng'] = df.groupby('Hotel_Name')['lng'].mean()
ratings['Reviewer_Score'] = df.groupby('Hotel_Name')['Reviewer_Score'].mean()
ratings['Additional_Number_of_Scoring'] = df.groupby('Hotel_Name')['Additional_Number_of_Scoring'].mean()
ratings['Total_Number_of_Reviews'] = new_df.groupby('Hotel_Name')['Total_Number_of_Reviews'].mean()
ratings['Reviewer_Nationality_id'] = new_df.groupby('Hotel_Name')['Reviewer_Nationality_id'].mean()
ratings['tag_ID'] = new_df.groupby('Hotel_Name')['tag_ID'].mean()

In [ ]:
ratings.head(10)

                                                    Average_Score  ...        tag_ID
Hotel_Name                                                         ...
11 Cadogan Gardens                                            8.7  ...   4519.805031
1K Hotel                                                      7.7  ...   8536.263514
25hours Hotel beim MuseumsQuartier                            8.8  ...  16832.438316
41                                                            9.6  ...  14949.339806
45 Park Lane Dorchester Collection                            9.4  ...  10337.214286
88 Studios                                                    8.4  ...  29322.871460
9Hotel Republique                                             8.8  ...   3703.907104
A La Villa Madame                                             8.8  ...   6421.951220
ABaC Restaurant Hotel Barcelona GL Monumento                  8.8  ...  32254.161290
AC Hotel Barcelona Forum a Marriott Lifestyle H...            8.1  ...  13740.809689

[10 rows x 8 columns]

In [ ]:
ratings=ratings.transpose()

In [ ]:
ratings_df = pd.DataFrame(ratings.corr())

In [ ]:
ratings_df.sort_values('11 Cadogan Gardens',ascending=False).head(20)['11 Cadogan Gardens']

Hotel_Name
11 Cadogan Gardens                      1.000000
The Capital                             0.999990
Four Seasons Hotel George V Paris       0.999988
Good Hotel London                       0.999981
The Dorchester Dorchester Collection    0.999976
Lancaster London                        0.999973
Hotel Indigo London Paddington          0.999973
The Bryson Hotel                        0.999972
St James Hotel Club Mayfair             0.999968
Le Belmont Champs Elys es               0.999961
The Victoria                            0.999961
Le Pavillon de la Reine Spa             0.999960
NH Amsterdam Museum Quarter             0.999958
Hilton London Hyde Park                 0.999958
Old Ship Inn Hackney                    0.999957
Albus Hotel Amsterdam City Centre       0.999955
Haymarket Hotel                         0.999955
Hyatt Regency London The Churchill      0.999953
H tel Fabric                            0.999950
La Maison Favart                        0.999948
Name: 11 Cadogan Gardens, dtype: float64